# Aliases

alias ls='ls -FA'
alias la='ls -a'
alias ll='ls -al'
alias q='exit'

alias cdd='pushd'
alias b='popd'

if [ -n "$ZSH_VERSION" ]; then
  alias r='exec zsh -l'
elif [ -n "$BASH_VERSION" ]; then
  alias r='exec bash -l'
fi

alias dcs='cd $userprofile/Documents'
alias dot='cd ~/dotfiles'

alias fig='vim $(fzf --height=40%)'

alias glog='git log --oneline'
  alias golg='glog'
alias gstat='git status --porcelain'
  alias gast='gstat'
  alias gsta='gstat'
  alias gstot='gstat'
alias gpush='git rev-parse --abbrev-ref HEAD | xargs git push origin'
  alias gpshu='gpush'
  alias pgush='gpush'
alias gpull='git rev-parse --abbrev-ref HEAD | xargs git pull origin'
  alias gpul='gpull'
  alias pgull='gpull'
  alias pgul='gpull'
alias gaddnew='git status --short | grep -v "??" | cut -d " " -f 3 | xargs git add'
  alias gtnew='gaddnew'
  alias gtn='gaddnew'
alias gd='git diff'

gcom () {
    git commit -am "$1"
}

gcp () {
    git commit -am "$1" && gpush
}
  alias gpc='gcp'

gclone () {
    git clone https://github.com/$1/$2
}

gsclone () {
    git clone git@github.com:$1/$2
}

g2https () {
    names="$(git remote -v | awk '{print $1}' | uniq)"
    urls="$(git remote -v | awk '{print $2}' | uniq)"
}

g2ssh() {
    names="$(git remote -v | awk '{print $1}' | uniq)"
    urls="$(git remote -v | awk '{print $2}' | uniq)"
    site="$(echo $urls | cut -d'/' -f3)"
    account="$(echo $urls | cut -d'/' -f4)"
    repo="$(echo $urls | cut -d'/' -f5 | cut -d'.' -f1)"
    newurl="git@${site}:${account}/${repo}.git"
    git remote set-url $names $newurl
}

preqs () {
    grep -i -r --no-filename --include \*.py 'import ' . | \
    sed -E 's/from (.*) import .*/import \1/;s/#.*//;s/import (\S*).*/\1/;s/\..*//' | \
    sort -u >> \
    $1
}

srp () {
    if [ $# -eq 2 ]
    then
        grep -rl "${1}" . | xargs sed -i "s/${1}/${2}/g"
        #alternate: find /path/to/files -type f -exec sed -i 's/oldstring/new string/g' {} \;
    fi

    if [ $# -eq 3 ]
    then
        grep -rl --include ${3} "${1}" . | xargs sed -i "s/${1}/${2}/g"
    fi
}

srd () {
    if [ $# -eq 1 ]
    then
        grep -rl "${1}" . | xargs sed -i "/${1}/d"
    fi

    if [ $# -eq 2 ]
    then
        grep -rl --include ${2} "${1}" . | xargs sed -i "/${1}/d"
    fi
}

gfe () {
    fileToEdit=$(grep -rn ${1} . | fzf | cut -d ':' -f 1-2)
    fileName=$(echo $fileToEdit | cut -d ':' -f 1)
    lineNumber=$(echo $fileToEdit | cut -d ':' -f 2)
    vim +$lineNumber $fileName
}
