[user]
	username = cwmccullough
	email = chris.mccullough1@nutrien.com
	name = cwmccullough
[core]
	excludefile = C:/Users/ch9960570/.gitignore_global
	excludesfile = C:/Users/ch9960570/.gitignore_global
